<html>
    <head>
        <h1>Hello Clowners</h1>
        Welcome to this highly important API.
    </head>

    <body>

        <h2>Status:</h2>
        {{status}}
        <br/>
        Current time: {{'{:d}:{:02d}'.format((currentTime.hour) % 24,currentTime.minute)}}
        <h2>Opening hours</h2>
        {% for day in dayTimes.values() %}
        {{'{} - {:d}:{:02d} - {:d}:{:02d}'.format(day[2],(day[0].hour + 1) % 24,day[0].minute,(day[1].hour + 1) % 24,day[1].minute)}}<br>
        {% endfor %}

        <h2>Sound Commands</h2>
        {% for key in sounds.keys() %}
        <a href="{{'http://clown.mads.monster/sounds/{}'.format(key)}}">{{key}}</a> <br>
        {% endfor %}

        <h2>Other sound commands</h2>
        <a href="http://clown.mads.monster/doorbell">ring a doorbell (CLOSED)</a> <br>
        <a href="http://clown.mads.monster/message">send a message</a> <br>
        <a href="http://clown.mads.monster/poetry">send a poem</a> <br>

        <h2>Projector Commands:</h2>
        {% for key in projector_keys.keys() %}
        <a href="{{'http://clown.mads.monster/ir/projector/{}'.format(key)}}">{{key}}</a> <br>
        {% endfor %}

        <h2>Soundbar Commands:</h2>
        {% for key in soundbar_keys.keys() %}
        <a href="{{'http://clown.mads.monster/ir/soundbar/{}'.format(key)}}">{{key}}</a> <br>
        {% endfor %}

        <h2>Light Commands:</h2>
        Lys <br>
        {{"Lys/brightness/<value>"}} <br>
        {{"Lys/brightness/step/<value>"}} <br>
        <br>
        where {{"<value>"}} is a whole number
    </body>
</html>
